<section class="p-section">
    <section>
        <div class="p-titol">
            <h1>Productes del Mercadona</h1>
        </div>
        
        <div>
            <div class="p-tenda">

                    <!-- "Model" es converteix autamaticament en el model 
                    que li hem passat al controlador -->

                    @foreach (var producte in Model)
                    {
                        <figure>
                            <img src="@producte.Imatge" alt="Alternate Text" />
                        <figcaption>@producte.Nom</figcaption>
                        </figure>
                    }




            </div>

        </div>
    </section>
    <div>b</div>
</section>
