

<section class="p-section">
    <section>
        <div class="p-titol">
            <h1>Productes del Mercadona</h1>
        </div>

        <div>
            <div class="p-tenda">

                <!-- "Model" es converteix autamaticament en el model 
                que li hem passat al controlador -->

                @foreach (var producte in Model)
                {


                    if (producte.Imatge == "/imatges/cocacola.webp"){
                        <figure>
                            <img src="@producte.Imatge" class="cocacola"/>
                            <figcaption>@producte.Nom</figcaption>
                        </figure>
                    } else {
                        <figure>
                            <img src="@producte.Imatge" />
                            <figcaption>@producte.Nom</figcaption>
                        </figure>
                    }
                }




            </div>

        </div>
    </section>
    <div>

        <!-- Aqui hi haura el formulari -->

        <form asp-action="ActualitzarCistell" asp-controller="Cistell" method="post">
            <h2>Afegir productes a la cesta</h2>

            <div>
                <label>Cocacola:</label> <br />
                <input type="hidden" name="IdCocacola" value="002" />
                <input type="number" name="Cocacola" value="0" min="0" />
            </div>

            <div>
                <label>Patata:</label> <br />
                <input type="hidden" name="IdPatata" value="001" />
                <input type="number" name="Patata" value="0" min="0" />
            </div>

            <div>
                <label>Lejia:</label> <br />
                <input type="hidden" name="IdLejia" value="003" />
                <input type="number" name="Lejia" value="0" min="0" />
            </div>
        
            <button type="submit">Afegir a la cesta</button>
        </form>

    </div>
</section>
