<section class="p-section">
    <section>
        <div class="p-titol">
            <h1>Productes del Mercadona</h1>
        </div>
        
        <div>
            <div class="p-tenda">

                    <!-- "Model" es converteix autamaticament en el model 
                    que li hem passat al controlador -->

                    @foreach (var producte in Model)
                    {


                    if (producte.Imatge == "/imatges/cocacola.webp"){
                        <figure>
                            <img src="@producte.Imatge" class="cocacola"/>
                            <figcaption>@producte.Nom</figcaption>
                        </figure>
                    } else {
                        <figure>
                            <img src="@producte.Imatge" />
                            <figcaption>@producte.Nom</figcaption>
                        </figure>
                    }
                    }




            </div>

        </div>
    </section>
    <div>

        <!-- Aqui hi haura el formulari -->

        <form asp-action="ActualitzarCistell" asp-controller="Cistell" method="post">
            <h2>Afegir productes a la cesta</h2>

        <!-- Cocacola -->
        <div>
                <label for="Cocacola"></label> <br />
                <input type="number" name="Cocacola" id="Cocacola" value="0" min="0"/>
            </div>
            <!-- Patata -->
            <div>
                <label for="Patata"></label> <br />
                <input type="number" name="Patata" id="Patata" value="0" min="0" />
            </div>
            <!-- Cocacola -->
            <div>
                <label for="Lejia"></label> <br />
                <input type="number" name="Lejia" id="Lejia" value="0" min="0" />
            </div>
        
            <button type="submit">Afegir a la cesta</button>
        </form>

    </div>
</section>
