<section class="p-section">
    <section>
        <div class="p-titol">
            <h1>Productes del Mercadona</h1>
        </div>
        
        <div>
            <div class="p-tenda">a</div>

        </div>
    </section>
    <div>b</div>
</section>
