@model Cistell_de_la_compra.Models.Cistell

<section class="cistell">
	<h1>Cistell de la compra</h1>
	<form asp-action="ActualitzarCistell2" method="post">
	<table>
		<tr>
			<th>Codi de producte</th>
			<th>Quantitat</th>
		</tr>
		
		
		@foreach (var element in Model.Elements)
		{
				if(element.Quantitat>0)
				{
					<tr>
						<td>
							
								<input type="hidden" name="CodiFormulari" value="" />
						</td>
						<td>
								<input type="number" name="QuantitatFormulari" min="0" value="" />
						</td>
					</tr>
				}
				else
				{
					<tr class="hidden">
						<td>
							
							<input type="hidden" name="CodiFormulari" value="" />
						</td>
						<td>
							<input type="number" name="QuantitatFormulari" min="0" value="@element.Quantitat" />
						</td>
					</tr>
				}

		}
		
	</table>


	<button type="submit">Comprar</button>
	</form>
</section>
