<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="~/NewFolder/base.css" />
</head>
<body>
    <header>
        <nav>
            <a class="nav-link text-dark" asp-area="" asp-controller="Productes" asp-action="Index">Home</a>
            <div>Productes</div>
            <div>Cistella</div>
        </nav>
    </header>
    <main>@RenderBody()</main>
    <footer>
        <table>
            <tr>
                <td>2025</td>
                <td></td>
                <td>Ismael Figuera</td>
            </tr>
            <tr>
                <td></td>
                <td>Mercadona</td>
                <td></td>
            </tr>
        </table>
    </footer>
</body>
</html>
