.cistella {
    height:100%;
}



.cistella > div{
    height:90%;
}

    .cistella .titol {
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cistella .titol h1 {
        height: 50%;
    }

    .content{
        background-color: whitesmoke;
    }



    .cistella .hidden, .factura .hidden{
        display: none;
    }


    .factura > div {
        width: 20%;
        background-color: whitesmoke;
        margin: auto;
        height: 400px;
        padding-left: 20px;
        padding-top: 5%;
    }
    
        .factura{
            padding-top:10%;
        }


.hidden {
    display: none;
}